body {
    background-image: url("https://res.cloudinary.com/alienora/image/upload/v1591996432/mattress_patterns-10_lhktj6.jpg");
    font-family: 'Ubuntu', sans-serif;
}

.top {
    text-align: center;
    color: #464646;
}

.dropdowns {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 80px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: #CCCCCC;
    opacity: 0.6;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; */
}

#choose-borough {
    width: 200px;
    background-color: transparent;
    /* display: flex;
    flex-direction: column; */
}

#choose-neighborhood {
    width: 200px;
    background-color: transparent;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
}

#find {
    margin-top: 10px;
}

#choose-borough,
#choose-neighborhood,
#find {
    display: block;
    background-color: transparent;
    border-color: #464646;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}

#border-box {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #CCCCCC;
    opacity: 0.6;
}

.image-results {
    min-height: 100px;
}

#placeholder {
    display: block;
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#append-bed-bugs {
    text-align: center;
    font-weight: bold;
}

#yesOrNo,
#next {
    display: block;
    margin: 10px auto;
    background-color: transparent;
    border-color: #464646;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;

}

#yesYesYes {
    text-align: center;
    color: red;
    font-size: 50px;
}

#noNoNo {
    text-align: center;
    color: maroon;
    font-size: 50px;
}


.more-info {
    max-height: 100px;
    text-align: center;
    margin-top: 50px;
    color: #464646;
}


footer {
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    color: #464646;
}

.bugs {
    position: absolute;
    background-image: url("https://res.cloudinary.com/alienora/image/upload/v1592094635/rsz_bedbug-new_sfyy2b.png");
    background-position: center;
    width: 50px;
    height: 50px;
    transition: top 2s, left 2s;
    transition-timing-function: linear;
    background-repeat: no-repeat;
    z-index: 100;
}
