body {
    background-image: url("https://res.cloudinary.com/alienora/image/upload/v1591996432/mattress_patterns-10_lhktj6.jpg");
    font-family: 'Ubuntu', sans-serif;
}

.top {
    text-align: center;
    color: #464646;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 150px;
}

h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

h2 {
    font-size: 25px;
}

#what-is-this-site {
    font-size: 14px;
}

.dropdowns {
    margin: 30px 50px 20px 50px;
    padding: 40px 80px 20px 80px;
    background-color: #CCCCCC;
    opacity: 0.6;
    text-align: center;
    font-size: 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* i hate flex box!!! */
/* i hate flex box!!! */
/* i hate flex box!!! */
/* i hate flex box!!! */
/* i hate flex box!!! */
/* can i learn to love it? */
/* can i learn to love it? */
/* can i learn to love it? */
/* can i learn to love it? */
/* can i learn to love it? */


#choose-borough {
    width: 200px;
    height: 25px;
    background-color: transparent;
}

#choose-neighborhood {
    width: 200px;
    height: 25px;
    background-color: transparent;
}

#find {
    margin-top: 20px;
    margin-bottom: 5px;
    height: 30px;
    box-shadow: 5px 10px 18px #4361EE;
}

#choose-borough,
#choose-neighborhood,
#find {
    background-color: transparent;
    border-color: #464646;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

#border-box {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #CCCCCC;
    opacity: 0.6;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.image-results {
    min-height: 100px;
}

#placeholder {
    display: block;
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; 
}

#append-bed-bugs {
    text-align: center;
    font-weight: bold;
    font-family: 'Sriracha', cursive;
    font-size: 20px;
    color: #4361EE;
}

#yesOrNo,
#next {
    display: block;
    margin: 10px auto;
    background-color: transparent;
    border-color: #464646;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    box-shadow: 5px 10px 18px #4361EE;
    height: 30px;

}

#yesYesYes {
    text-align: center;
    color: red;
    font-size: 50px;
    font-family: 'Sriracha', cursive;
}

#noNoNo {
    text-align: center;
    color: maroon;
    font-size: 50px;
    font-family: 'Sriracha', cursive;
}

.more-info {
    text-align: center;
    margin-top: 30px;
    color: #464646;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#new-laws {
    font-size: 12px;
    padding: 0 100px
}

#disclosure,
#local-law {
    text-decoration: none;
    color: #464646;
}

footer {
    margin-bottom: 10px;
    font-size: 15px;
    color: #464646;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bugs {
    position: absolute;
    background-image: url("https://res.cloudinary.com/alienora/image/upload/v1592094635/rsz_bedbug-new_sfyy2b.png");
    background-position: center;
    width: 50px;
    height: 50px;
    transition: top 2s, left 2s;
    transition-timing-function: linear;
    background-repeat: no-repeat;
    z-index: 100;
}
