.top {
    text-align: center;
}

.dropdowns {
    min-height: 100px;
    text-align: center;
    margin-top: 50px;
}

#choose-borough {
    width: 200px;
}

#choose-neighborhood {
    width: 200px;
}

#choose-borough,
#choose-neighborhood,
#find {
    display: block;
    margin: 20px auto;
}

#border-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-results {
    min-height: 100px;
}

#placeholder {
    display: block;
    width: 250px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#append-bed-bugs {
    height: 100px;
    text-align: center;
    font-weight: bold;
}

#yesOrNo,
#next {
    display: block;
    margin: 10px auto;

}

.more-info {
    max-height: 100px;
    text-align: center;
    margin-top: 100px;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
}

.bugs {
    position: absolute;
    background-image: url("https://www.pngkit.com/view/u2q8i1y3r5o0r5i1_bed-bug-png-picture-bed-bugs-images-png/");
    background-position: -100px -160px;
    width: 110px;
    height: 115px;
    transition: top 2s, left 2s;
    transition-timing-function: linear;
    background-repeat: no-repeat;
    z-index: 10;
}